/* Fix jQuery mobile footer */
[data-role=page] {
	height:100%!important;
	position:relative!important;
}

[data-role=footer] {
	bottom:0;
	position:absolute!important;
	top:auto!important;
	width:100%;
}

img.headerImage {
  width: 321px;
  height: 45px;
}

img.footerImage {
  width: 321px;
  height: 50px;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
}

.content {
  position: absolute;
  top: 45px;
  left: 0px;
  overflow: auto;
  height: 490px;
  width: 321px;
}

.footer {
  position: absolute;
  top: 530px;
  left: 0px;
}

.footerHungry.unselected, .footer .hungry {
  position: absolute;
  width: 150px;
  height: 77px;
  top: -80px;
  left: 85px;
}

.footer a {
  position: absolute;
}
