/* Fix jQuery mobile footer */
[data-role=page] {
	height:100%!important;
	position:relative!important;
}

[data-role=footer] {
	bottom:0;
	position:absolute!important;
	top:auto!important;
	width:100%;
}

/* Distribute height evenly */
.vertical {
	height: 100%;
	overflow: hidden;
}

.vertical button {
	position: absolute;
}

#map-canvas {
  width: 150px;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#business-info {
  padding: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

#business-contents {
  padding-top: 20px;
}
